* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	font-size: .625rem;
	margin: 10px;
	padding: 0;
	padding-left: 20px;
	font-family: 'Helvetica';
	background-color: #22211d;
}

body::-webkit-scrollbar {
	display: none;
}

body {
  -ms-overflow-style: none;
}

h1 {
	font-size: 2.5rem;
	color: #7280a5;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transform: skew(-10deg);
}

#query {
	font-size: 1.2rem;
	padding: 5px;
}

#searchField {
	color: grey;
	font-size: 1.2rem;
	padding: 2px;
	transition: all .5s;
}

#searchField:focus {
	color: black;
	transform: scale(1.03);
}

#submit_btn {
	font-size: 1.3rem;
}

#show_content {
	perspective: 1000px;
	display: flex;
    flex-wrap: wrap;
	width: 100%;
    justify-content: center;
}

section {
	text-align: center;
	opacity: 1;
	transform: scale(1);
	animation: scale-in .6s ease-in-out;
	perspective: 1000px;
}

div {
	background-color: #a9464a;
	color: white;
	height: 100%;
	width: 10rem;
	padding: 10px;
	text-align: center;
	margin: .5rem;
	font-size: 1rem;
	transition: all .3s;
	overflow: hidden;
	font-size: 1.2rem;
	overflow-y: hidden;
	border-radius: 10px;
	animation: scale-in .8s ease-in-out;
}

p {
	padding: 5px;
	font-size: .7rem;
}

div:hover {
	background-color: #dc7388;
	transform: scale(1.05);
	transform: rotateZ(3deg);
}


.main-image {
	border-radius: 10px;
	border: 3px solid #fdfaf3;
	cursor: pointer;
	transition: all 1s;
}

.fixed-totoro {
	height: 50px;
	position: fixed;
	right: 15px;
	bottom: 15px;
	border: none;
	cursor: pointer;
}

.heh {
	font-size: .5rem;
	color: white;
	position: fixed;
	right: 70px;
	bottom: 45px;
	opacity: 0;
	transition: all .2s;
}

.fixed-totoro:hover + .heh {
	opacity: 1;
	animation: pulse 1s linear infinite;
}

.fixed-totoro:hover {
	animation: fly-away 1s linear infinite;
}

input {
	font-weight: bold;
	background-color: #79a353;
	border: 1px solid black;
	padding: 4px 8px 4px 8px;
	box-shadow: 2px 2px 8px black;
	transition: all .2s;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}

input:focus {
	color: #f3de69;
	outline: none;
}

input:hover {
	transform: translateY(2px);
}

@keyframes scale-in {

	0% {
		transform: scale(.3);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fly-away {
	0% {
		transform: rotate(0deg) scale(1);

	}

	50% {
		transform: rotate(180deg) scale(1.5);
	}

	100% {
		transform: rotate(360deg) scale(1);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 600px) {
    .main-image {
        width: 90%;
        height: 25%;
    }
    h1 {
        font-size: 3rem;
    }
    input {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    div {
        width: 100%;
    }
    .fixed-totoro {
        height: 65px;
    }
    .heh {
    font-size: 1rem;
    right: 85px;
    bottom: 70px;
    }
}





